<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
    <!---------------->
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>MemeHub - Login</title>
</head>
<body class="auth-page">
    <div class="login-container">
        <div class="logo">
            MEME<span>HUB</span>
        </div>
        
        <div class="welcome-text">
            Welcome back!
        </div>
        <div class="subtitle">
            Log in to your account.
        </div>
        
        <form method="POST">
            <!--- FLASH MESSAGES --->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="flash-message flash-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Enter your username">
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Enter your password">

                <div class="forgot-password">
                    <a href="forgot-pwd.html">Forgot Password?</a>
                </div>
            </div>

            <button type="submit" class="login-btn">Log In</button>
        </form>
        
        <div class="divider">
            <span>OR</span>
        </div>
        
        <div class="signup-link">
            Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a>
        </div>
    </div>
</body>
</html>